<div class="container">
  <div class="row">
      <div class="col-6">
      <h1> Détail du "PC" d'Id:2</h1>
          <div *ngFor="let t of materiel" >
              <ul class="list-group">
                  <li class="list-group-item"><img style="width:150px;height:120px;" src="{{t.photo}}" ></li>
                  <li class="list-group-item"> Marque {{t.marque}} </li>
                  <li class="list-group-item"> Prix {{t.prix}}</li>
                  <li class="list-group-item"> Description {{t.description}} </li>
                  <li class="list-group-item"> Quantité {{t.quantite}} </li>
                  <li class="list-group-item"><input type="checkbox" [checked]="t.hautGamme" >Haut de Gamme </li>
                  <li class="list-group-item"><button  class="btn btn-primary" (click)="onAffiche()">Afficher les commentaires</button></li>
              </ul>
          </div>
      </div>
      <div class="col-6" *ngIf="!affiche">
     
          <div *ngFor="let t of materiel" >
          <h2> liste des commentaires </h2>
              
                  <div *ngFor="let com of t.commentaires ;index as i" >
                      <div > commentaire n° {{i+1}}:{{com.contenu}} </div>
                  <fed-comment [c]="com" ></fed-comment>
                      </div>
                
          </div>
  
  </div>
  </div>
  </div>    
  onAffiche()
  {
    this.affiche = !this.affiche; 
  }
  
  
  
  <h2 class="text-center pt-3">Nos produits en informatique</h2>
  <div class="container">
      <div class="row">
          <ng-container *ngFor="let mat of materiels" >
              <div class="col-4 pt-3" *ngIf="mat.quantite >0 ">
          <fed-materiel [m]="mat"></fed-materiel>
              </div>
          </ng-container>
          
      </div>
  </div>
  @Input("m") mat:Materiel;
  <div class="card text-center">
    <div class="card-header">
       {{mat.libelle|titlecase}}
    </div>
    <div class="card-body">
       <img [src]="mat.photo" alt="photo" > 
       <br/>
 
       <span   Class="badge badge-pill" 
           [ngClass]="{'badge-primary':mat.hautGamme,'badge-dark':!mat.hautGamme}">
       
       prix:{{mat.prix}}DT
       <i [ngClass]="{'fa fa-thumbs-up' : mat.hautGamme}"></i>
        </span>
    </div>
    <div class="card-footer text-muted">
  <button class="btn btn-primary"  >Détails </button>
  
    </div>
</div>

<ul class=" list-unstyled">

  <li>{{c.auteur}} <span class="badge badge-pill badge-primary">{{c.note}}</span></li>
  
  <li>{{c.date | date :'dd/MM/yyyy'}}</li>
  </ul>
  
  nomSupermarket: string = "Chez Nous";
  
  <h2 class="text-center pt-4">Bienvenue au suppermarché {{nomSupermarket|supermarketpipe}}</h2>
<div class="containter">
    <div class="row">

    <div  class="col-6 text-center" *ngFor="let mat of lesCategories" >
        <img [src]="mat.image" alt="photo" class="rounded-circle ">
       
    <p  ><span class="badge badge-dark">{{mat.nom|uppercase}}</span>
   
       </p>
           
        

</div>
</div>
</div>

 


onDetails(){
  alert("Telephone "+this.telephone.marque+" au prix de "+this.telephone.prix);
}
    